
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  
}



nav{
    position: fixed;
    top: 0;
    text-align: left;
    background: rgba(255, 254, 254, 0.495);
    border-bottom: 1px solid white;
    color: #f2f2f2;
    width: 100%;
    padding: 20px;
    height:5rem;
    z-index: 1;    
}
nav.active {
    background-color: rgb(255, 255, 255); /* Change background color on scroll */
}

body{
    text-align: center;
    /* height: auto; */   
}
.hero{
    height:  41.1rem;
}

.bg-video{
    width: 1263px;
    
}
.heading{
    position: absolute;
    top: 5rem;
    /* left:26rem; */    
    width:1263px;
    height: 36.7rem;
    padding-top: 12rem;    
    background: rgba(255, 254, 254, 0.495);
    
    /* border-radius: 2rem; */
    
    text-transform: uppercase;  
}
h1{
    color: #fa4908be;
    font-size:4rem;
    font-style: italic;

}
h2{
    color: #41b91cff;
    font-style: normal;
    font-size:3rem;
    font-family:sans-serif
    
}
.form-heading{
    color: #fc8019;
    font-style: normal;
    font-size:3rem;
    font-family:sans-serif;
    margin-top:2rem;
}

.generate-meals{
    width: 14rem;
    height: 3rem;
    font-size: larger;
    background-color: #fc8019;
    border: none;
    border-radius: 2rem;
    
    margin-top: 5rem;
    cursor: pointer;
}
.generate-meals a{
    text-decoration: none;
    color: white;
}
.generate-meals:hover{
    background-color: #f6a563;
    color: white

}

#logo{
    width: 15rem;
    height: 2rem;
    margin-top: 5px;
    margin-left: 15px;
}


.content{
    display:block;
    position:absolute;
    top:auto;  
    
}


.hidden{
    visibility:hidden;
    
}

.hidden1{
    display: none;
}
.content1{
display: grid;
grid-template-columns: auto;

}

.form-filling{
    
    height: 34.1rem;
    /* margin-top: 0; */
    
}
#form{

    background-color: #99f663;
    width: 21rem;
    height: 29rem;
    margin-left: 4rem;
    border-radius: 2rem;


}
.standing-man{
    width:22rem;
    height: 28rem;
}
.form-gif{
    display: flex;
    justify-content: center;
    margin-top:1rem;
    justify-content: space-around;
    
}




.meal-container-hide{
    display:none;
}

.meal-container-show{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78.9rem;
    height: 25rem;
    

    background-color: pink;
    
    justify-content: space-evenly;

}
#get-receipe1,#get-receipe2,#get-receipe3{
    width: 10rem;
    border-radius: 10px;
    text-align: center;
    height: 2rem;
    font-size: 1rem;
    align-self: center;
    border: solid black 1px;
    background-color: cornflowerblue;
    cursor: pointer;
}
.inputBox{
    position:relative;
    width: 250px;
    margin: 2rem 1rem;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size:1em;
    transition: 0.5s;



}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: green;
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: aqua;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: white;
    border-left:1px solid black;
    border-right:1px solid black;
    letter-spacing: 0.2em;    
}

.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid aqua;
}

.dropdown-gender::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    right: 5rem;
    top:15px;
    z-index: 1;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: .5s;
    pointer-events: none;
}

.dropdown-gender.active::before{
    top:22px;
    transform: rotate(-225deg);
   
} 
.dropdown-gender{
    position: relative;
    height: 41px;
}

.dropdown-gender input{
    position: absolute;
    top:0;
    left: 1rem;
    width:15.5rem;
    height:2.5rem;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    padding: 12px 20px;
    border-radius: 5px;
}

.dropdown-gender .option{
    position: absolute;
    top:45px;
    left: 1rem;
    width:15.5rem;
    /* height:2.5rem; */
    background: #fff;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    z-index: 2;
}
.dropdown-gender.active .option{
    display: block;
}



.dropdown-gender .option div{
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown-gender .option div:hover{
    background: aqua;
    color: #fff;
}
.dropdown-gender .option div ion-icon{
    position: relative;
    top:4px;
    font-size:1.2em
}


.dropdown-activity::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    right: 5rem;
    top:15px;
    z-index: 1;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: .5s;
    pointer-events: none;
}

.dropdown-activity.active::before{
    top:22px;
    transform: rotate(-225deg);
   
} 
.dropdown-activity{
    position: relative;
    height: 41px;
    margin-top: 32px;
    margin-bottom: 32px;

}

.dropdown-activity input{
    position: absolute;
    top:0;
    left: 1rem;
    width:15.5rem;
    height:2.5rem;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    padding: 12px 20px;
    border-radius: 5px;
}

.dropdown-activity .option{
    position: absolute;
    top:45px;
    left: 1rem;
    width:15.5rem;
    /* height:2.5rem; */
    background: #fff;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}
.dropdown-activity.active .option{
    display: block;
}



.dropdown-activity .option div{
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown-activity .option div:hover{
    background: aqua;
    color: #fff;
}
.dropdown-activity .option div ion-icon{
    position: relative;
    top:4px;
    font-size:1.2em
}




/* input,select{
   border: 0px;
   background-color: rgb(231, 224, 219);
   border-radius: 10px;
   width:200px;
   height:30px;
   padding-left: 10px;
} */
#generate-meals-button{
  
    border: 0px;
    background-color: rgb(215, 94, 8);
    border-radius: 10px;
    width: 314px;
    height: 45px;
    padding-left: 10px;
    color: aliceblue;
    cursor: pointer;
    /* position: relative; */
    /* left: 0px; */
    font-size: x-large;
}
#generate-meals-button a{
    text-decoration: none;
    color: aliceblue;
}


.img{
    border: 0px;
    width:250px;
    height:200px;
    background-color:rgb(169, 233, 49) ;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
   
}

.info{
    border: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width:250px;
    height:125px;
   
    background-color:rgb(233, 138, 49) ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

#receipe1,#receipe2,#receipe3{
  
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
    gap: .5rem;
  
    

    align-items: stretch;
    align-items: flex-start;

    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    
    width: 78.9rem;


 
    

    background-color: rgb(105, 180, 223);
    
    
    overflow-wrap: break-word;


}
tbody{
    text-align: left;
   
}


#receipe-container{

    width: auto;
    height: auto;
    background-color: blueviolet;
   
    

}


h3{
    margin-bottom: 2.5rem;
    color:rgb(23, 22, 22) ;
    
}
.ingredients{
    width:30%;
    box-shadow: 4px 4px 4px -3px #182e49;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 5px 8px 8px;
    background-color: rgb(252, 221, 162);
}
.steps{
    width:50%;
    box-shadow: 4px 4px 4px -3px #182e49;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 5px 8px 8px;
    background-color: rgb(252, 221, 162);
}
.equipment{
    width:20%;
    box-shadow: 4px 4px 4px -3px #182e49;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 5px 8px 8px;
    background-color: rgb(252, 221, 162);
}




#loader{
    display:none;
    position: absolute;
    left: 45%;
    top: 50%;
    z-index: 1;

    width:110px;
    height: 25rem;
   

    
}



svg{
    margin-top: 4rem;
}

#sparkles > path {
	animation: sparklyBits 1000ms infinite;
	position: absolute;
}

#message {
	margin-top: 10px;
	text-align: center;
    width: 10rem;
    color: rgb(225, 114, 10) ;
    font-weight: bold;
   
}

@for $i from 1 through 29 {
	#sparkles > path:nth-child(#{$i}) {
		animation-delay: (35ms * $i);
	}
}

@keyframes sparklyBits {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* body {
	align-items: center;
	background-color: #FAFAFA;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
} */

